<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Group number:</strong>
  <%= @team.group_number %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @team.flag %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
