<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 hidden-sm hidden-xs sidepic sidesize"><div class="fillpic1 sidesize"></div></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="groupsection">
            <h4>Group A</h4>
            <% @teams.order(:name).where(:group_number => "A").each do |team| %>
                <div class="flaggy"><%= image_tag(team.flag) %> <%= team.name %> 
                    <%= form_tag do %>
                        <%= radio_button_tag(:age, "First") %>
                        <%= label_tag(:age_child, "1st") %>
                        <%= radio_button_tag(:age, "Second") %>
                        <%= label_tag(:age_child, "2nd") %>
                        <%= radio_button_tag(:age, "Third") %>
                        <%= label_tag(:age_child, "3rd") %>
                        <%= radio_button_tag(:age, "Forth") %>
                        <%= label_tag(:age_child, "4th") %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="groupsection">
            <h4>Group B</h4>
            <div id="teams"  data-url="<%= sort_teams_path %>">
                <% @teams.order(:name).where(:group_number => "B").each do |team| %>
                    <div class="flaggy"><%= image_tag(team.flag) %><%= team.name %> </div>
                <% end %>
            </div>
        </div>
        <div class="groupsection">
            <h4>Group C</h4>
            <% @teams.order(:name).where(:group_number => "C").each do |team| %>
                <div class="flaggy"><%= image_tag(team.flag) %> <%= team.name %></div>
            <% end %>
        </div>
        <div class="groupsection">
            <h4>Group D</h4>
            <% @teams.order(:name).where(:group_number => "D").each do |team| %>
                <div class="flaggy"><%= image_tag(team.flag) %> <%= team.name %></div>
            <% end %>
        </div>
        <div class="groupsection">
            <h4>Group E</h4>
            <% @teams.order(:name).where(:group_number => "E").each do |team| %>
                <div class="flaggy"><%= image_tag(team.flag) %> <%= team.name %></div>
            <% end %>
        </div>
        <div class="groupsection">
            <h4>Group F</h4>
            <% @teams.order(:name).where(:group_number => "F").each do |team| %>
                <div class="flaggy"><%= image_tag(team.flag) %> <%= team.name %></div>
            <% end %>
        </div>
        <div class="groupsection">
            <h4>Group G</h4>
            <% @teams.order(:name).where(:group_number => "G").each do |team| %>
                <div class="flaggy"><%= image_tag(team.flag) %> <%= team.name %></div>
            <% end %>
        </div>
        <div class="groupsection">
            <h4>Group H</h4>
            <% @teams.order(:name).where(:group_number => "H").each do |team| %>
                <div class="flaggy"><%= image_tag(team.flag) %> <%= team.name %></div>
            <% end %>
        </div>
    </div>
</div>