<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 hidden-sm hidden-xs sidepic sidesize"><div class="fillpic1 sidesize"></div></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="frontpage">
        <p>Welcome to 2018 World Cup Football Pick'em!</p>
        <p>I hope you are excited for another World Cup. To celebrate lets predict the results. Make your choices and good luck!</p>
        <p>Please sign up or sign in and then the link to make you picks will appear.</p>
        <p>This is still a work in progress. Scoring is still awaiting implementation. In the meantime</p>
        <p>Thank you and enjoy!</p>
        <div class="rsltslinks">
            <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                <br>
                <br>
                <%= link_to 'Hall of Brackets', simple_pages_ko_stage_path %>
                <br>
                <br>
                <%= link_to 'Scoreboard', simple_pages_scores_path %>
                <br>
                <br>
                <% if @group_stage_winners.where(:user => current_user).exists? %>
                    <%= link_to 'My Results', simple_pages_results_path %>
                    <br>
                    <br>
                <% end %>
            <% else %>
                <%= link_to('Login/Sign Up', new_user_session_path) %>
                <br>
                <br>
                <%= link_to 'Hall of Brackets', simple_pages_ko_stage_path %>\
                <br>
                <br>
                <%= link_to 'Scoreboard', simple_pages_scores_path %>
                <br>
                <br>
            <% end %>
            <% if signed_in? && current_user.admin? %>
                <% @group_stage_winners.where(:user => current_user).each do |group_stage_winner| %>
                     <%= link_to 'Edit Picks', edit_group_stage_winner_path(group_stage_winner) %>
                     <br>
                     <br>
                <% end %>
                <% if @group_stage_winners.where(:user => current_user).exists? %>
                    <%= link_to 'Make Your Picks', new_group_stage_winner_path %>
                    <br>
                    <br>
                <% end %>
            <% end %>
        </div>
        <br>
        <div id="picklist">
            <h3>Picks:</h3>
            <% @final_winners.order(:champion).each do |final_winner| %>
                <% @teams.order(:name).where(:name => final_winner.champion).each do |team| %>
                <div class="pickedchampion">
                    <div class="frontchoice"><%= image_tag(team.flag, :class => team.name + "out") %></div>
                    <div class="frontchoice"><%= final_winner.user.first_name.titleize %></div>
                    <div class="frontchoice"><%= final_winner.user.last_name.titleize %></div>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
</div>
