<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 cntr">
        <h3>Real Results:</h3>
    </div>
</div>
<div class="row rslts">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="grpwnnrs bubb">
            <% @teams.order(:name).where(:name => "Uruguay").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs buba">
            <% @teams.order(:name).where(:name => "Portugal").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs bubb">
            <% @teams.order(:name).where(:name => "France").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs buba">
            <% @teams.order(:name).where(:name => "Argentina").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs bubb">
        </div>
        <div class="grpwnnrs buba">
            <% @teams.order(:name).where(:name => "Mexico").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs bubb">
        </div>
        <div class="grpwnnrs buba">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
        <div class="grpwnnrs bubb">
            <% @teams.order(:name).where(:name => "Spain").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs buba">
            <% @teams.order(:name).where(:name => "Russia").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs bubb">
            <% @teams.order(:name).where(:name => "Croatia").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs buba">
            <% @teams.order(:name).where(:name => "Denmark").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs bubb">
            <% @teams.order(:name).where(:name => "Sweden").each do |team| %>
                <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= team.name %></p></div>
            <% end %>
        </div>
        <div class="grpwnnrs buba">
        </div>
        <div class="grpwnnrs bubb">
        </div>
        <div class="grpwnnrs buba">
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 blg"></div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 blb">
</div>
<br>

<% @users.order(paoints: :desc).each do |user| %>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 cntr">
            <h3><%= user.first_name.titleize %> <%= user.last_name.titleize %></h3>
            <h4>Total Score: <%= user.points %></h4>
        </div>
    </div>
    
    <div class="row champdisplay">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <% @final_winners.where(:user => user).each do |final_winner| %>
                <% @teams.order(:name).where(:name => final_winner.champion).each do |team| %>
                    <div id="thechamp"><%= image_tag(team.flag) %></div>
                    <div id="thechamp"><%= final_winner.champion %></div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row rslts">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 bubb">
            <% @sf_winners.where(:user => user).each do |sf_winner| %>
                <% @teams.order(:name).where(:name => sf_winner.sf1_w).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= sf_winner.sf1_w %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 buba">
            <% @sf_winners.where(:user => user).each do |sf_winner| %>
                <% @teams.order(:name).where(:name => sf_winner.sf2_w).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= sf_winner.sf2_w %></div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row rslts">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 bubb">
            <% @qf_winners.where(:user => user).each do |qf_winner| %>
                <% @teams.order(:name).where(:name => qf_winner.qf1_w).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= qf_winner.qf1_w %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 buba">
            <% @qf_winners.where(:user => user).each do |qf_winner| %>
                <% @teams.order(:name).where(:name => qf_winner.qf2_w).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= qf_winner.qf2_w %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 bubb">
            <% @qf_winners.where(:user => user).each do |qf_winner| %>
                <% @teams.order(:name).where(:name => qf_winner.qf3_w).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= qf_winner.qf3_w %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 buba">
            <% @qf_winners.where(:user => user).each do |qf_winner| %>
                <% @teams.order(:name).where(:name => qf_winner.qf4_w).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= qf_winner.qf4_w %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row rslts">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 bubb">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.a1_v_b2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.a1_v_b2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 buba">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.c1_v_d2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.c1_v_d2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 bubb">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.e1_v_f2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.e1_v_f2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 buba">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.g1_v_h2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.g1_v_h2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 bubb">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.b1_v_a2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.b1_v_a2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 buba">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.d1_v_c2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.d1_v_c2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 bubb">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.f1_v_e2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.f1_v_e2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 buba">
            <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
                <% @teams.order(:name).where(:name => ko16_winner.h1_v_g2).each do |team| %>
                    <div class="resultrounds"><%= image_tag(team.flag) %></div>
                    <div class="resultrounds"><%= ko16_winner.h1_v_g2 %></div>
                <% end %>
            <% end %>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row rslts">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupa1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupa1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupb2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupb2 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupc1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupc1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupd2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupd2 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupe1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupe1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupf2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupf2 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupg1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupg1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.grouph2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.grouph2 %></p></div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupb1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupb1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupa2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupa2 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupd1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupd1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupc2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupc2 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupf1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupf1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupe2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupe2 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs bubb">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.grouph1).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.grouph1 %></p></div>
                    <% end %>
                <% end %>
            </div>
            <div class="grpwnnrs buba">
                <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                    <% @teams.order(:name).where(:name => group_stage_winner.groupg2).each do |team| %>
                        <div class="resultrounds spaced"><%= image_tag(team.flag) %> <p><%= group_stage_winner.groupg2 %></p></div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 cntr">
            <h4>Score Breakdown:</h4>
            <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
                <% if group_stage_winner.groupa1 == 'Uruguay' && group_stage_winner.groupa2 == 'Russia' %>
                    <h5>Group A +4</h5>
                <% elsif group_stage_winner.groupa1 == 'Uruguay' && group_stage_winner.groupa2 != 'Russia' || group_stage_winner.groupa1 != 'Uruguay' && group_stage_winner.groupa2 == 'Russia' || group_stage_winner.groupa1 == 'Russia' && group_stage_winner.groupa2 == 'Uruguay' %>
                    <h5>Group A +2</h5>
                <% elsif group_stage_winner.groupa1 == 'Russia' && group_stage_winner.groupa2 != 'Uruguay' || group_stage_winner.groupa1 != 'Russia' && group_stage_winner.groupa2 == 'Uruguay' %>
                    <h5>Group A +1</h5>
                <% else %>
                    <h5>Group A +0</h5>
                <% end %>
                <% if group_stage_winner.groupb1 == 'Spain' && group_stage_winner.groupb2 == 'Portugal' %>
                    <h5>Group B +4</h5>
                <% elsif group_stage_winner.groupb1 == 'Spain' && group_stage_winner.groupb2 != 'Portugal' || group_stage_winner.groupb1 != 'Spain' && group_stage_winner.groupb2 == 'Portugal' || group_stage_winner.groupb1 == 'Portugal' && group_stage_winner.groupb2 == 'Spain' %>
                    <h5>Group B +2</h5>
                <% elsif group_stage_winner.groupb1 == 'Portugal' && group_stage_winner.groupb2 != 'Spain' || group_stage_winner.groupb1 != 'Portugal' && group_stage_winner.groupb2 == 'Spain' %>
                    <h5>Group B +1</h5>
                <% else %>
                    <h5>Group B +0</h5>
                <% end %>
                <% if group_stage_winner.groupc1 == 'France' && group_stage_winner.groupc2 == 'Denmark' %>
                    <h5>Group C +4</h5>
                <% elsif group_stage_winner.groupc1 == 'France' && group_stage_winner.groupc2 != 'Denmark' || group_stage_winner.groupc1 != 'France' && group_stage_winner.groupc2 == 'Denmark' || group_stage_winner.groupc1 == 'Denmark' && group_stage_winner.groupc2 == 'France' %>
                   <h5>Group C +2</h5>
                <% elsif group_stage_winner.groupc1 == 'Denmark' && group_stage_winner.groupc2 != 'France' || group_stage_winner.groupc1 != 'Denmark' && group_stage_winner.groupc2 == 'France' %>
                    <h5>Group C +1</h5>
                <% else %>
                    <h5>Group C +0</h5>
                <% end %>
                <% if group_stage_winner.groupd1 == 'Croatia' && group_stage_winner.groupd2 == 'Argentina' %>
                    <h5>Group D +4</h5>
                <% elsif group_stage_winner.groupd1 == 'Croatia' && group_stage_winner.groupd2 != 'Argentina' || group_stage_winner.groupd1 != 'Croatia' && group_stage_winner.groupd2 == 'Argentina' || group_stage_winner.groupd1 == 'Argentina' && group_stage_winner.groupd2 == 'Croatia' %>
                    <h5>Group D +2</h5>
                <% elsif group_stage_winner.groupd1 == 'Argentina' && group_stage_winner.groupd2 != 'Croatia' || group_stage_winner.groupd1 != 'Argentina' && group_stage_winner.groupd2 == 'Croatia' %>
                    <h5>Group D +1</h5>
                <% else %>
                    <h5>Group D +0</h5>
                <% end %>
                <% if group_stage_winner.groupf1 == 'Sweden' && group_stage_winner.groupf2 == 'Mexico' %>
                   <h5>Group F +4</h5>
                <% elsif group_stage_winner.groupf1 == 'Sweden' && group_stage_winner.groupf2 != 'Mexico' || group_stage_winner.groupf1 != 'Sweden' && group_stage_winner.groupf2 == 'Mexico' || group_stage_winner.groupf1 == 'Mexico' && group_stage_winner.groupf2 == 'Sweden' %>
                    <h5>Group F +2</h5>
                <% elsif group_stage_winner.groupf1 == 'Mexico' && group_stage_winner.groupf2 != 'Sweden' || group_stage_winner.groupf1 != 'Mexico' && group_stage_winner.groupf2 == 'Sweden' %>
                    <h5>Group F +1</h5>
                <% else %>
                    <h5>Group F +0</h5>
                <% end %>
            <% end %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 blg"></div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 blb">
    </div>
    <br>
<% end %> 
