<h1>Scoreboard</h1>
<div class="row colname">
    <div class="col-xl-2 col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-1">
        Rank
    </div>
    <div class="col-xl-5 col-lg-7 col-md-7 col-sm-8 col-xs-9">
        Name
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        Score  
    </div>
    <div class="col-xl-2 col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>
<% @users.order(points: :desc).each_with_index do |user, i| %>
    <div class="row ranker">
        <div class="col-xl-2 col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-1">
            <%= (i + 1) %>
        </div>
        <div class="col-xl-5 col-lg-7 col-md-7 col-sm-8 col-xs-9">
            <%= user.first_name.titleize %> <%= user.last_name.titleize %>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <%= user.points %>
        </div>
        <div class="col-xl-2 col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    </div>
<% end %>
<br>
<div class="row">
    <div class="col-xl-2 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-xl-5 col-lg-7 col-md-7 col-sm-8 col-xs-9">
        <p>Scoring breakdown:</p>
        <ul>
            <li>Correct advancement to knockout stage +1</li>
            <li>Correct advancement to knockout stage and placement in group +2*</li>
            <li>Correct advancement to quarter finals +4</li>
            <li>Correct advancement to semi finals +7</li>
            <li>Correct advancement to final +12</li>
            <li>Correct Champion +20</li>
        </ul>
        <p>*Actual location in the bracket only matters for group stage placement.</p>
        <p>ex. player predicts group H. 1st Belgium, 2nd Tunisia. Real results have 1st Belgium, 2nd England. Player receives 2 points for Belgium, 0 for Tunisia</p>
        <p>ex. player predicts group H. 1st England, 2nd Belgium. Real results have 1st Belgium, 2nd England. Player receives 1 point for England, 1 for Belgium</p>
    </div>
    <div class="col-xl-2 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
<% if signed_in? && current_user.admin? %>
    <br>
    <br>
    <% @users.order(:last_name, :first_name).each do |user| %>
        <%= user.first_name.titleize %> <%= user.last_name.titleize %>
        <% @group_stage_winners.where(:user => user).each do |group_stage_winner| %>
            <% if group_stage_winner.groupa1 == 'Uruguay' && group_stage_winner.groupa2 == 'Russia' %>
                <h5>Group A +4</h5>
            <% elsif group_stage_winner.groupa1 == 'Uruguay' && group_stage_winner.groupa2 != 'Russia' || group_stage_winner.groupa1 != 'Uruguay' && group_stage_winner.groupa2 == 'Russia' || group_stage_winner.groupa1 == 'Russia' && group_stage_winner.groupa2 == 'Uruguay' %>
                <h5>Group A +2</h5>
            <% elsif group_stage_winner.groupa1 == 'Russia' && group_stage_winner.groupa2 != 'Uruguay' || group_stage_winner.groupa1 != 'Russia' && group_stage_winner.groupa2 == 'Uruguay' %>
                <h5>Group A +1</h5>
            <% else %>
                <h5>Group A +0</h5>
            <% end %>
            <% if group_stage_winner.groupb1 == 'Spain' && group_stage_winner.groupb2 == 'Portugal' %>
                <h5>Group B +4</h5>
            <% elsif group_stage_winner.groupb1 == 'Spain' && group_stage_winner.groupb2 != 'Portugal' || group_stage_winner.groupb1 != 'Spain' && group_stage_winner.groupb2 == 'Portugal' || group_stage_winner.groupb1 == 'Portugal' && group_stage_winner.groupb2 == 'Spain' %>
                <h5>Group B +2</h5>
            <% elsif group_stage_winner.groupb1 == 'Portugal' && group_stage_winner.groupb2 != 'Spain' || group_stage_winner.groupb1 != 'Portugal' && group_stage_winner.groupb2 == 'Spain' %>
                <h5>Group B +1</h5>
            <% else %>
                <h5>Group B +0</h5>
            <% end %>
            <% if group_stage_winner.groupc1 == 'France' && group_stage_winner.groupc2 == 'Denmark' %>
                <h5>Group C +4</h5>
            <% elsif group_stage_winner.groupc1 == 'France' && group_stage_winner.groupc2 != 'Denmark' || group_stage_winner.groupc1 != 'France' && group_stage_winner.groupc2 == 'Denmark' || group_stage_winner.groupc1 == 'Denmark' && group_stage_winner.groupc2 == 'France' %>
                <h5>Group C +2</h5>
            <% elsif group_stage_winner.groupc1 == 'Denmark' && group_stage_winner.groupc2 != 'France' || group_stage_winner.groupc1 != 'Denmark' && group_stage_winner.groupc2 == 'France' %>
                <h5>Group C +1</h5>
            <% else %>
                <h5>Group C +0</h5>
            <% end %>
            <% if group_stage_winner.groupd1 == 'Croatia' && group_stage_winner.groupd2 == 'Argentina' %>
                <h5>Group D +4</h5>
            <% elsif group_stage_winner.groupd1 == 'Croatia' && group_stage_winner.groupd2 != 'Argentina' || group_stage_winner.groupd1 != 'Croatia' && group_stage_winner.groupd2 == 'Argentina' || group_stage_winner.groupd1 == 'Argentina' && group_stage_winner.groupd2 == 'Croatia' %>
                <h5>Group D +2</h5>
            <% elsif group_stage_winner.groupd1 == 'Argentina' && group_stage_winner.groupd2 != 'Croatia' || group_stage_winner.groupd1 != 'Argentina' && group_stage_winner.groupd2 == 'Croatia' %>
                <h5>Group D +1</h5>
            <% else %>
                <h5>Group D +0</h5>
            <% end %>
            <% if group_stage_winner.groupe1 == 'Brazil' && group_stage_winner.groupe2 == 'Switzerland' %>
                <h5>Group E +4</h5>
            <% elsif group_stage_winner.groupe1 == 'Brazil' && group_stage_winner.groupe2 != 'Switzerland' || group_stage_winner.groupe1 != 'Brazil' && group_stage_winner.groupe2 == 'Switzerland' || group_stage_winner.groupe1 == 'Switzerland' && group_stage_winner.groupe2 == 'Brazil' %>
                <h5>Group E +2</h5>
            <% elsif group_stage_winner.groupe1 == 'Switzerland' && group_stage_winner.groupe2 != 'Brazil' || group_stage_winner.groupe1 != 'Switzerland' && group_stage_winner.groupe2 == 'Brazil' %>
                <h5>Group E +1</h5>
            <% else %>
                <h5>Group E +0</h5>
            <% end %>
            <% if group_stage_winner.groupf1 == 'Sweden' && group_stage_winner.groupf2 == 'Mexico' %>
                <h5>Group F +4</h5>
            <% elsif group_stage_winner.groupf1 == 'Sweden' && group_stage_winner.groupf2 != 'Mexico' || group_stage_winner.groupf1 != 'Sweden' && group_stage_winner.groupf2 == 'Mexico' || group_stage_winner.groupf1 == 'Mexico' && group_stage_winner.groupf2 == 'Sweden' %>
                <h5>Group F +2</h5>
            <% elsif group_stage_winner.groupf1 == 'Mexico' && group_stage_winner.groupf2 != 'Sweden' || group_stage_winner.groupf1 != 'Mexico' && group_stage_winner.groupf2 == 'Sweden' %>
                <h5>Group F +1</h5>
            <% else %>
                <h5>Group F +0</h5>
            <% end %>
            <% if group_stage_winner.groupg1 == 'Belgium' && group_stage_winner.groupg2 == 'England' %>
                <h5>Group G +4</h5>
            <% elsif group_stage_winner.groupg1 == 'Belgium' && group_stage_winner.groupg2 != 'England' || group_stage_winner.groupg1 != 'Belgium' && group_stage_winner.groupg2 == 'England' || group_stage_winner.groupg1 == 'England' && group_stage_winner.groupg2 == 'Belgium' %>
                <h5>Group G +2</h5>
            <% elsif group_stage_winner.groupg1 == 'England' && group_stage_winner.groupg2 != 'Belgium' || group_stage_winner.groupg1 != 'England' && group_stage_winner.groupg2 == 'Belgium' %>
                <h5>Group G +1</h5>
            <% else %>
                <h5>Group G +0</h5>
            <% end %>
            <% if group_stage_winner.grouph1 == 'Colombia' && group_stage_winner.grouph2 == 'Japan' %>
                <h5>Group H +4</h5>
            <% elsif group_stage_winner.grouph1 == 'Colombia' && group_stage_winner.grouph2 != 'Japan' || group_stage_winner.grouph1 != 'Colombia' && group_stage_winner.grouph2 == 'Japan' || group_stage_winner.grouph1 == 'Japan' && group_stage_winner.grouph2 == 'Colombia' %>
                <h5>Group H +2</h5>
            <% elsif group_stage_winner.grouph1 == 'Japan' && group_stage_winner.grouph2 != 'Colombia' || group_stage_winner.grouph1 != 'Japan' && group_stage_winner.grouph2 == 'Colombia' %>
                <h5>Group H +1</h5>
            <% else %>
                <h5>Group H +0</h5>
            <% end %>
        <% end %>
        <% @ko16_winners.where(:user => user).each do |ko16_winner| %>
            <% if ko16_winner.a1_v_b2 == 'Uruguay' || ko16_winner.b1_v_a2 == 'Uruguay' %>
                <h5>Uruguay Adv QF +4</h5>
            <% else %>
                <h5>Uruguay Adv QF +0</h5>
            <% end %>
            <% if ko16_winner.c1_v_d2 == 'France' || ko16_winner.d1_v_c2 == 'France' %>
                <h5>France Adv QF +4</h5>
            <% else %>
                <h5>France Adv QF +0</h5>
            <% end %>
            <% if ko16_winner.a1_v_b2 == 'Russia' || ko16_winner.b1_v_a2 == 'Russia' %>
                <h5>Russia Adv QF +4</h5>
            <% else %>
                <h5>Russia Adv QF +0</h5>
            <% end %>
            <% if ko16_winner.c1_v_d2 == 'Croatia' || ko16_winner.d1_v_c2 == 'Croatia' %>
                <h5>Croatia Adv QF +4</h5>
            <% else %>
                <h5>Croatia Adv QF +0</h5>
            <% end %>
        <% end %>
        <br>
    <% end %>
<% end %>
