<p id="notice"><%= notice %></p>

<div class="padthai">
<p>
  <strong>Quarter-Final Game 1:</strong>
  <%= @qf_winner.qf1_w %>
</p>

<p>
  <strong>Quarter-Final Game 2:</strong>
  <%= @qf_winner.qf2_w %>
</p>

<p>
  <strong>Quarter-Final Game 3:</strong>
  <%= @qf_winner.qf3_w %>
</p>

<p>
  <strong>Quarter-Final Game 4:</strong>
  <%= @qf_winner.qf4_w %>
</p>

<p>
  <strong>User:</strong>
  <%= @qf_winner.user.first_name %>
</p>
</div>

<div class="padthai nextbutton">
  <%= link_to 'Edit', edit_qf_winner_path(@qf_winner) %> |
  <% if @sf_winners.where(:user => current_user).exists? %>
    <% @sf_winners.where(:user => current_user).each do |sf_winner| %>
      <%= link_to 'Next Round', edit_sf_winner_path(sf_winner) %>
    <% end %>
  <% else %>
    <%= link_to 'Next Round', new_sf_winner_path %>
  <% end %>
</div>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Back', qf_winners_path %>
<% end %>
