<p id="notice"><%= notice %></p>

<div class="padthai">
<p>
  <strong>A1 v b2:</strong>
  <%= @ko16_winner.a1_v_b2 %>
</p>

<p>
  <strong>C1 v d2:</strong>
  <%= @ko16_winner.c1_v_d2 %>
</p>

<p>
  <strong>E1 v f2:</strong>
  <%= @ko16_winner.e1_v_f2 %>
</p>

<p>
  <strong>G1 v h2:</strong>
  <%= @ko16_winner.g1_v_h2 %>
</p>

<p>
  <strong>B1 v a2:</strong>
  <%= @ko16_winner.b1_v_a2 %>
</p>

<p>
  <strong>D1 v c2:</strong>
  <%= @ko16_winner.d1_v_c2 %>
</p>

<p>
  <strong>F1 v e2:</strong>
  <%= @ko16_winner.f1_v_e2 %>
</p>

<p>
  <strong>H1 v g2:</strong>
  <%= @ko16_winner.h1_v_g2 %>
</p>

<p>
  <strong>User:</strong>
  <%= @ko16_winner.user.first_name %>
</p>
</div>

<div class="padthai nextbutton">
  <%= link_to 'Edit', edit_ko16_winner_path(@ko16_winner) %> |
  <% if @qf_winners.where(:user => current_user).exists? %>
    <% @qf_winners.where(:user => current_user).each do |qf_winner| %>
      <%= link_to 'Next Round', edit_qf_winner_path(qf_winner) %>
    <% end %>
  <% else %>
    <%= link_to 'Next Round', new_qf_winner_path %>
  <% end %>
</div>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Back', ko16_winners_path %>
<% end %>
