<%= form_for(@final_winner) do |f| %>
  <% if @final_winner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@final_winner.errors.count, "error") %> prohibited this final_winner from being saved:</h2>

      <ul>
      <% @final_winner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h3>The World Cup Final</h3>
  <% @sf_winners.where(:user => current_user).each do |sf_winner| %>
    <% @teams.order(:name).where(:name => sf_winner.sf1_w).each do |team| %>
      <div class="choice">
        <%= radio_button_tag(:champion, team.name) %>
        <%= image_tag(team.flag) %>
        <%= label_tag(:champion, team.name) %>
      </div>
    <% end %>
    <% @teams.order(:name).where(:name => sf_winner.sf2_w).each do |team| %>
      <div class="choice">
        <%= radio_button_tag(:champion, team.name) %>
        <%= image_tag(team.flag) %>
        <%= label_tag(:champion, team.name) %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
