<p id="notice"><%= notice %></p>

<div class="padthai">
<p>
  <strong>Semi-Final Game 1:</strong>
  <%= @sf_winner.sf1_w %>
</p>

<p>
  <strong>Semi-Final Game 2:</strong>
  <%= @sf_winner.sf2_w %>
</p>

<p>
  <strong>User:</strong>
  <%= @sf_winner.user.first_name %>
</p>
</div>

<div class="padthai nextbutton">
  <%= link_to 'Edit', edit_sf_winner_path(@sf_winner) %> |
  <%= link_to 'Next Round', new_final_winner_path %>
</div>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Back', sf_winners_path %>
<% end %>