<p id="notice"><%= notice %></p>

<p>
  <strong>1st in Group A:</strong>
  <%= @group_stage_winner.groupa1 %>
</p>

<p>
  <strong>2nd in Group A:</strong>
  <%= @group_stage_winner.groupa2 %>
</p>

<p>
  <strong>1st in Group B:</strong>
  <%= @group_stage_winner.groupb1 %>
</p>

<p>
  <strong>2nd in Group B:</strong>
  <%= @group_stage_winner.groupb2 %>
</p>

<p>
  <strong>1st in Group C:</strong>
  <%= @group_stage_winner.groupc1 %>
</p>

<p>
  <strong>2nd in Group C:</strong>
  <%= @group_stage_winner.groupc2 %>
</p>

<p>
  <strong>1st in Group D:</strong>
  <%= @group_stage_winner.groupd1 %>
</p>

<p>
  <strong>2nd in Group D:</strong>
  <%= @group_stage_winner.groupd2 %>
</p>

<p>
  <strong>1st in Group E:</strong>
  <%= @group_stage_winner.groupe1 %>
</p>

<p>
  <strong>2nd in Group E:</strong>
  <%= @group_stage_winner.groupe2 %>
</p>

<p>
  <strong>1st in Group F:</strong>
  <%= @group_stage_winner.groupf1 %>
</p>

<p>
  <strong>2nd in Group F:</strong>
  <%= @group_stage_winner.groupf2 %>
</p>

<p>
  <strong>1st in Group G:</strong>
  <%= @group_stage_winner.groupg1 %>
</p>

<p>
  <strong>2nd in Group G:</strong>
  <%= @group_stage_winner.groupg2 %>
</p>

<p>
  <strong>1st in Group H:</strong>
  <%= @group_stage_winner.grouph1 %>
</p>

<p>
  <strong>2nd in Group H:</strong>
  <%= @group_stage_winner.grouph2 %>
</p>

<p>
  <strong>User:</strong>
  <%= @group_stage_winner.user.first_name %>
</p>

<%= link_to 'Edit', edit_group_stage_winner_path(@group_stage_winner) %> |
<%= link_to 'Back', group_stage_winners_path %>
